:root{
    --color-purple: #6648B1;
    --color-white: #fff;
}
*,
::before,
::after{
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-white);
}
body::before{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: var(--color-purple);
    background-image: url(../images/bg-desktop.svg);
}
body::after{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}
#container{
    position: relative;
    min-height: 100vh;
}
.logo-cont{
    padding: 3rem 5rem;
}
#main{
    padding-bottom: 2.5rem;
    margin: 3rem 5rem;
    display: flex;
}
.section2{
    margin-left: 10rem;
    padding-top: 3rem;
    width: 31rem;
}
.sec2-heading{
    font-size: 2.5rem;
    line-height: 4rem;
}
.sec2-txt{
    line-height: 1.5rem;
    font-size: 1.09rem;
    word-spacing: 0.075rem;
    font-family: 'Open Sans', sans-serif;
}
button{
    width: 10rem;
    height: 3rem;
    color: var(--color-purple);
    font-size: 1rem;
    border-radius: 2.5rem;
    border: 1px solid var(--color-white);
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}
button:focus {
    outline: none;
    border: none;
}
button:active {
    transform: translateY(.2rem);
    border: none;
}
#footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.attribution{
    font-size: 0.688rem;
    margin-left: 5rem;
}
.attribution a{
    color: var(--color-white);
}
.attribution a:hover{
    color: hsl(228, 45%, 44%);
    text-decoration: underline;
}
.footer-icons{
    margin-right: 8rem;
}
.footer-icons img{
    padding-left: 1rem;
}
@media only screen and (max-width: 400px){
    body::before{
        background-image: url(../images/bg-mobile.svg);
        background-repeat: no-repeat;
        margin: 0;
        padding: 0;
    }
    .logo-cont{
        padding: 0.5rem 2rem;
    }
    .logo-cont img{
        width: 6rem;
        height: 4rem;
    }
    .illu-img-cont img{
        width: 15rem;
        height: 10rem;
    }
    #main{
        margin: 1.5rem 2.5rem;
        flex-direction: column;
    }
    .section2{
        margin: 2px;
        width: 250px;
        text-align: center;
    }
    .sec2-heading{
        font-size: 1.3rem;
        line-height: 2rem;
    }
    .sec2-txt{
        font-size: 0.85rem;
        word-spacing: unset;
        line-height: 1.35rem;
    }
    button{
        width: 200px;
        height: 40px;
        font-size: 0.75rem;
        box-shadow: 3px 3px #51398d;
    }
    #footer{
        flex-direction: column;
    }
    .attribution{
        text-align: center;
        margin-left: 1rem;
    }
    .footer-icons{
        margin-left: 7rem;
        padding-bottom: 2rem;
    }
    .footer-icons img{
        padding-left: 0.5rem;
        width: 32px;
    }
}